/* Styles for nav */
nav {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    margin-top: 20vh;
}

nav a {
    background-color: #3498db;
    width: 200px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 1em;
    transition: box-shadow 0.35s;
    margin: 0 10px; /* Adjust the margin as needed for spacing between buttons */
}

nav a:hover,
nav a:focus {
    box-shadow: 6px 6px 24px -4px rgba(52, 152, 219, 0.67);
    -webkit-box-shadow: 6px 6px 24px -4px rgba(52, 152, 219, 0.67);
    -moz-box-shadow: 6px 6px 24px -4px rgba(52, 152, 219, 0.67);
}
