/* Styles for form */
form {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 300px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

form label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form input {
    width: 65%;
    height: 30px;
    border: 2px solid #3498db; /* Change border color */
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
}

form select {
    width: 65%;
    border: 2px solid #3498db; /* Change border color */
    border-radius: 10px;
    box-sizing: border-box;
    padding: 7px;
    outline: none;
}

form input[type='checkbox'] {
    width: 15px;
    height: 15px;
}

form textarea {
    width: 65%;
    resize: none;
    border: 2px solid #3498db; /* Change border color */
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

/* Styles for form > input */
form > input {
    background-color: #2ecc71; /* Change background color */
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    text-decoration: none;
    border: none;
    color: white; /* Change text color */
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 1em;
    transition: box-shadow 0.35s;
}

form > input:hover,
form > input:focus {
    box-shadow: 6px 6px 24px -4px rgba(52, 152, 219, 0.67); /* Change box-shadow color */
    -webkit-box-shadow: 6px 6px 24px -4px rgba(52, 152, 219, 0.67);
    -moz-box-shadow: 6px 6px 24px -4px rgba(52, 152, 219, 0.67);
}

/* Styles for div */
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Styles for span */
span {
    color: #e74c3c; /* Change color to red */
    font-size: 1.1em;
}
